@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* ::-webkit-scrollbar {
        display: none;
    } */

    #scroll::-webkit-scrollbar {
        height: 2px;
    }

    #scroll::-webkit-scrollbar-track {
        background: #A8A8A8;
    }

    #scroll::-webkit-scrollbar-thumb {
        background: #F6AA50;
    }
    
    body {
        background-color: #082723;
        font-family: "Roboto";
    }
}